/* Styles for E-commerce Website */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #35424a;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #2c3e50;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}